:root {
    --header-background: hsl(0, 0%, 0%);
    --body-background: hsl(0, 0%, 41%);
    --main-background-color: hsl(0, 0%, 100%);

    --header-text-color: hsl(0, 0%, 100%);
    --main-text-color: hsl(0, 0%, 0%);
    --nav-text-color: hsl(0, 0%, 50%);
    --nav-text-Hovercolor: hsl(0, 0%, 90%);

    --link-text-color: hsl(0, 0%, 0%);
    --link-text-Hovercolor: hsl(0, 0%, 50%);

    --side-padding: 10vw;
}

@font-face {
    font-family: 'AnticDidone';
    src: url('../fonts/AnticDidone.ttf') format('truetype');
}

body{
    background-color: var(--body-background);
    font-family: 'AnticDidone', sans-serif;
}

header{
    background-color: var(--header-background);
    color: var(--header-text-color);
}

main > section{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

main > article{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

#footer-content{
    background-color: var(--header-background);
    color: var(--header-text-color);
}

.proflink:hover{
    color: var(--link-text-Hovercolor);
}

.proflink{
    text-decoration: none;
    color: var(--link-text-color);
    transition: color 0.5s;
}

#nav-Links a:hover{
    color: var(--nav-text-Hovercolor);
}

#nav-Links a{
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 2rem;
    transition: color 0.5s;
}

#nav-Links{
    list-style: none;
    display: flex; 
}

#site-Logo {
    width:10em;
    height: auto;
}


ul{
    list-style: none;
}

ul a:hover{
    color: var(--nav-text-Hovercolor);
}

ul a{
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 0.5s;
}

#MyName{
    font-size: 3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding-top: var(--img-top-padding);
    text-align: justify;
}

#about-me-text{
    font-size: medium;
}

#currentPosition{
    font-size: 1rem;
    text-align: justify;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#intro-list{
    list-style: none;
    font-size: 1.2rem;
}

.section-heading{
    text-align: center;
}

#address{
    font-size: small;
}

.glass{
    /*background: linear-gradient(45deg, rgba(255, 255, 255, 0.9),rgba(255, 255, 255,0.2));
     background: linear-gradient(180deg, rgba(51, 174, 223, 0.1),rgba(51, 174, 223,0));*/
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8),rgba(255, 255, 255,0.2));
    /* background: linear-gradient(180deg, rgba(51, 174, 223, 0.1),rgba(51, 174, 223,0));*/
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.18);
    /*box-shadow: 0.8px 32px 0 rgba(0,0,0,0.37);*/
}

@media (max-width:679px) {
    #MyName, #currentPosition{
        text-align: center;
    }
}

